/* FOR THE BODY BACKGROUND */

body
{
    background-image: url("back2.png") ;

}

/* MAIN TITLE */

#reg_page_title
{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 80px;

    color:WHITE;
}

/* FORMS */

#home_btn
{
    position:relative;
    left:15%;
    color: greenyellow;
    background-color: black;
    border-radius: 6.5px;
    font-size: 1.5em;
    border:solid 2px greenyellow;
}
input
{
    width:70%;
    padding:12px 20px;
    margin:5px;
}

input:focus {
    border: 3px solid black;
}
/* HEADING IN THE FORMS */

.form_heading
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size:1.25em;
    color:darkslateblue;
    position: relative;
    top:10px;
    text-align: center;
}

/* FOR THE SIGN IN AND REGISTER BUTTONS */

.tab_btn
{
    list-style-type: none;
    position: relative;
    left:275px;
    display: inline-block;
    text-align: center;
    width:200px;
    background: lightsteelblue;
    color:black;
    border-radius: 6px;
    border:solid 3px black;
    font-size:25px;
}
#btns_div
{

    width:650px;
    position:relative;
    left:22%;
    top:60px;

}
.tabcontent
{   border: solid 2px red;
    background-color: seagreen;
    text-align: : center;
    width: 250px;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    left:40%;
    top:30px;

}

.submit_btn1
{
   position:relative;
   left:-1%;
   color:darkslateblue;
   background-color: lightgray;
   font-size:1em;
   border-radius: 6.5px;
}

.submit_btn
{
   position:relative;
   left:10%;
   color:darkslateblue;
   background-color: lightgray;
   font-size:1.25em;
   border-radius: 6.5px;
}


/* NAV BAR CSS Starts here */

/* The side navigation menu */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus
{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main
{
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px)
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Nav Bar style ends here */

 /* FOR THE CLICK TO OPEN THE NAV BAR */

#arrow
{

 position:fixed;
 font-size: 45px;
 color:black;

}





/* For making the tabs */

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
    width:200px;
    position: relative;
    left:40%;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
